<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
</head>
<body style="color: rgb(249, 103, 50); background-image: url(OHT86_yugurenosorat_TP_V.jpg);">
    <h1><%= h1%></h1>
    <div style="width: 30%; min-width: 200px; margin: 0px auto ; padding: 10px 0px; background-color: rgba(117, 145, 95, 0.571);">
        <form action="/<%= formAction%>" method="POST">
            <div class="user-form">
                <label>ユーザーID：</label>
                <input type="text" name="username" value="<%= usernameValue%>">
            </div>
            <div class="user-form">
                <label>パスワード：</label>
                <input type="password" name="password" value="<%= passwordValue%>">
            </div>
            <div>
                <input type="submit" value="<%= submitValue%>"  class="signin-submit-button">
            </div>
        </form>
    </div>
    <div>
        <form action="/<%= aLink%>" method="GET" name="for<%= aLink%>">
            <input type="hidden">
            <a href="javascript:document.for<%= aLink%>.submit()"><%= a%>ページへ</a>
        </form>
    </div>
</body>
</html>